<div class=" flex-col flex justify-items-center items-center auto-cols-auto justify-between">
    <div>
        <div class="flex flex-wrap justify-center p-2">
            <strong>Name: </strong>
            <%= @workspace.name%>
        </div>
        <div class="flex flex-wrap justify-center p-2">
            <strong>Domain: </strong>
            <%= @workspace.domain%>
        </div>
    </div>
    <div class="flex-wrap justify-items-center p-2">
        <%= link_to "Workspace Vendors", workspace_workspace_vendors_path(@workspace.slug), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
    </div>
    <div class="flex-wrap justify-items-center p-2">
        <%= link_to "Workspace Members", workspace_workspace_members_path(@workspace.slug), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
    </div>
    <div>
    <%= button_to "Sign Out", session_path, :method => "delete", class: "p-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
</div>