<% if local_assigns[:link] %>
    <div class="grid grid-cols-2 p-0.5">
        <div class="flex justify-center">
            <%= link_to workspace_member.first_name + " " + workspace_member.last_name, workspace_workspace_member_path(id: workspace_member.id), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline"%>
        </div>
        <div class="flex justify-center">
            <%= workspace_member.email %>
        </div>
    </div>
<% else %>
    <div class="flex flex-col  md:container md:mx-auto p-2">
        <div>
            <strong>First Name:</strong> <%= workspace_member.first_name %>
        </div>
        <div>
            <strong>Last Name:</strong> <%= workspace_member.last_name %>
        </div>
        <div>
            <strong>Email:</strong> <%= workspace_member.email %>
        </div>
        <div>
            <strong>Created at:</strong> <%= workspace_member.created_at %>
        </div>
    </div>
<% end %>