<!DOCTYPE html>
<html>
  <head>
    <title>Stackshine Hiring Assessment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
  </head>
  <body class="bg-slate-100">
    <%= link_to root_path do %>
      <%= image_tag "https://www.stackshine.com/images/full_logo.svg", class: "w-auto h-9 mx-auto mb-5"%>
    <% end %>
    <%= yield %>
  </body>
</html>
